<form>
  <table border="1" style="border-collapse: collapse;">
    <tr>
      <td>Name</td>
      <td><input type="text" [(ngModel)]="nameH" name="nameH"/></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button class="btn btn-primary" type="button" (click)="onClick()">Add</button>
      </td>
    </tr>
  </table>
</form>

<h2>My Bros</h2>
<table border="1">
  <tr *ngFor="let hero of heroes" [class.selected]="hero === selectedHero">
    <td>{{hero.id}}</td>
    <td>{{hero.name}}</td>
    <td>
      <button type="button" (click)="edit(hero)" class="btn btn-success">Edit</button>
    </td>
    <td>
      <button type="button" (click)="delete1(hero.id)" class="btn btn-danger">Delete</button>
    </td>
  </tr>
</table>

<div *ngIf="selectedHero">

  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name"/>
    </label>
  </div>

</div>
